body {
    background-color: palevioletred;
}

#purple {
    color: purple;
}

#golden {
    color: gold;
}

.today, .tomorrow{
    padding: 10px;
}

.today {
    font-weight: bolder;
}

.tomorrow {
    font-weight: lighter;
}